.Register-body {
  background-image: url("Login.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  justify-content: center;
  position: relative;
}
.Register-wrapper {
  background-color: white;
  position: absolute;
  width: 30%;
  top: 15%;
  left: 62%;
  padding-bottom: 20px;
}
.Register-blogname {
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 30px;
}
.Register-title {
  color: white;
  width: 45%;
  margin: 0 auto;
  border-radius: 15px;
  background-color: brown;
}

.Register-form {
  margin: 0 auto;

  padding-left: 20px;
  padding-right: 20px;
}
.Register-footer {
  display: flex;
}
.Register-next-button {
  margin-left: 20px;
  padding-top: 5px;
}
.profile-picture {
  margin-left: 80px;
  padding-top: 5px;
}

@media only screen and (max-width: 768px) {
  .Register-wrapper {
    background-color: white;
    position: absolute;
    width: 65%;
    top: 15%;
    left: 18%;
    padding-bottom: 25px;
  }
  .Register-title {
    color: white;
    width: 50%;
    font-size: 20px;
    margin: 0 auto;
    border-radius: 15px;
    background-color: brown;
  }

  .profile-picture {
    padding-top: 5px;
    margin-left: 8px;
  }
}
