@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  width: 100%;
  height: 100%;
}

body {
  overflow: hidden; /* Disable scrolling on the body */
}

body::-webkit-scrollbar {
  display: none; /* Hide scrollbar for Chrome, Safari, and other WebKit browsers */
}

body {
  scrollbar-width: none; /* Hide scrollbar for Firefox */
}
